torch==2.4.1
torchvision==0.19.1
regex==2024.9.11
tqdm==4.66.5
typing-extensions==4.11.0
wcwidth==0.2.13
ftfy==6.2.3
numpy==2.0.1
scikit-learn==1.5.2
clip==1.0
openai==1.51.0
yacs==0.1.8
pytz==2024.2
notebook==7.2.2
#torch_geometric==2.5.2
#matplotlib==3.9.0
#tiktoken==0.7.0